<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento Persona</title>
    <style>
        * {
            color: steelblue;
        }

        #contenido {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

        h2 {
            line-height: 3;
            border-bottom: 1px solid steelblue;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: #FFF;
            background: steelblue;
            padding: .5em;
            margin: .5em;
            border-radius: 5px;
        }
        .campo {
            line-height: 2;
        }
    </style>
</head>
<body>
    <div id="contenido">
        <h2>Mantenimiento Personas Natural [Crear]</h2>
        <a href="/PNatural/listar">Mantenimiento Personas Naturales</a>
        <a href="/PJuridica/listar">Mantenimiento Personas Juridicas</a>
        <form action="/PNatural/Crear" method="post">
            <div class="campo">
                <label for="dni">DNI:</label>
                <input type="text" name="dni" />
            </div>
            <div class="campo">
                <label for="nombrePersona">Nombre:</label>
                <input type="text" name="nombrePersona" />
            </div>
            <div class="campo">
                <label for="apellidoPersona">Apellidos:</label>
                <input type="text" name="apellidoPersona" />
            </div>
            <div class="campo">
                <label for="fechaNacimiento">Fecha Nacimiento:</label>
                <input type="text" name="fechaNacimiento" />
            </div>
            <div class="campo">
                <label for="sexo">Sexo:</label>
                <input type="text" name="sexo" />
            </div>
            <div class="campo">
                <label for="direccion">Direccion:</label>
                <input type="text" name="direccion" />
            </div>
            <div class="campo">
                <label for="telefono">Telefono:</label>
                <input type="text" name="telefono" />
            </div>
            <div class="campo">
                <label for="correoElectronico">E-Mail:</label>
                <input type="text" name="correoElectronico" />
            </div>
            <div class="campo boton">
                <input type="submit" value="Insertar" />
            </div>
        </form>
    </div>
</body>
</html>