<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento Persona</title>
    <style>
        * {
            color: steelblue;
        }
        #contenido {
            width: 80%;
            margin: 0 auto;
            text-align:center;
        }
        h2 {
            line-height: 3;
            border-bottom: 1px solid steelblue;
        }
        a {
            display: inline-block;
            text-decoration: none;
            color: #FFF;
            background: steelblue;
            padding: .5em;
            margin: .5em;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="contenido">
        <h2>Mantenimiento Personas</h2>
        <a href="/PNatural/listar">Mantenimiento Personas Naturales</a>
        <a href="/PJuridica/listar">Mantenimiento Personas Juridicas</a>
    </div>
</body>
</html>